@model IEnumerable<ProjetoAgenda.Models.Telefones>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = Model.Count() == 0 ? 0 : (Model.FirstOrDefault().IdContato), ed = "edit" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdContato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Classificacoes.NomeClassificacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroTelefone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdContato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Classificacoes.NomeClassificacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroTelefone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTelefone }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.IdTelefone }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTelefone })
        </td>
    </tr>
}

</table>
