@model ProjetoAgenda.Models.Emails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Emails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Classificacoes.NomeClassificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classificacoes.NomeClassificacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdContato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdContato)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdEmail }) |
    @Html.ActionLink("Back to List", "Index")
</p>
